extends layout

block content
  
  h1= title

  #alert-messages

  #blog-action-modal.modal.hide.fade(tab-index='-1', role='dialog')
    .modal-header
      button.close(data-dismiss='modal', aira-hidden='true') x
      h3 Create
    .modal-body
      p
        input#blogname(type='text')
    .modal-footer
      button.btn(data-dismiss='modal') Close
      button.btn.btn-danger Delete

  p
    a.btn.btn-primary.action-button(data-action-type='Create') Create New

  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th Id
        th Name
        th Actions
    tbody
      if data.length == 0
        tr
          td(colspan='3') No blogs available
      each item in data
        tr
          td #{item.id}
          td #{item.name}
          td
             a.btn.btn-danger.action-button
               i.icon-white.icon-trash
               | Delete               

  p
    a.btn.btn-primary.action-button(data-action-type='Create') Create New

block customscripts
  script(type='text/javascript', src='javascripts/jquery.alertmessage.js')

  script(type='text/javascript')

    $(function() {
        $(".container").on("click", "a.action-button", function(e) {
            e.preventDefault();

            $("#blog-action-modal").modal("show");
            
        });
    });