extends layout

block content
  .container
    h1= title
    table.table.table-striped.table-bordered.table-hover
      thead
        tr
          th Id
          th Name
          th Actions
      tbody
        if data.length == 0
          tr
            td(colspan='3') No blogs available
        each item in data
          tr
            td #{item.id}
            td #{item.name}
            td No Actions